<!doctype html>
<html lang="en">
<head>

  <% include include/head_dashboard.ejs %>

</head>

<body>

  <% include include/dashboard_nav.ejs %>

  <div class="container-fluid">
    <div class="row">

      <% include include/dashboard_sidebar.ejs %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <% include include/profile_name.ejs %>
          <input type="text" id="clientGoogle" value="<%= client.google %>" hidden>
          <input type="text" id="uid" value="<%= uid %>" hidden>
          <div class="row">
            
          </div>
      
      </main>
    </div>
  </div>

  <% include include/scripts.ejs %>

  <script>

    let getInfoUser = (id, callback) => {

      axios.get('/user/info/' + id).then(response => {
          console.log(response.data);
          callback(false, response.data);
      }).catch(error => {
          console.log(error);
          callback(error, null);
      });

    };

    let isGoogle = (provider) => {
      return _.find(provider, o => { 
        console.log('Provider ID:' + o.providerId)
        return o.providerId == "google.com" 
      });
    };

    function signOut (uid) {

      var user = getInfoUser(uid, (err, user) => {
        if (!err) { 
          if (isGoogle(user.providerData)) {
            console.log('Founded Google provider ...');
            GoogleSignOut();
            
          } else {
            console.log('Not Founded Google provider ...');
            location.href = '/logout';
          }
        }  
      });

    };

    function GoogleSignOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
        location.href = '/';
      });
    };

    function start () {

      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: $('#clientGoogle').val(),
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });

      getInfoUser($('#uid').val(), (err, user) => {
        if (!err) { 
          if (isGoogle(user.providerData)) {
            $('#btnSignOut').hide();
          }
        }
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=start" type="text/javascript" async defer></script>
  
</body>
</html>
