<!doctype html>
<html lang="en" class="h-100">
  <head>
    <% include include/head.ejs %>
    <link rel="stylesheet" href="css/dashboard-light.css">
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">

        <h1 class="mt-5"><i class="fas fa-exclamation-triangle"></i></h1>
        
        <!-- aggiungere altri campi di dettaglio per utente -->

        <p class="lead"><%= error.status %></p>
        <pre><%= error.stack %></pre>

        <p>Use <a href="/signin">Go to Sign In</a></p>
      
      </div>
    </main>

    <% include include/footer.ejs %>
    
  </body>
</html>

