<!doctype html>
<html lang="en" class="h-100">
  <head>
    <% include include/head.ejs %>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body class="d-flex flex-column h-100">
    
    <main role="main" class="flex-shrink-0" id="home">
      <div class="container">
        <% include include/home_nav.ejs %>
        <h1 class="mt-5 bold">
          <% include include/username.ejs %>
        </h1>
        <input type="text" id="clientGoogle" value="<%= client.google %>" v-model="clientGoogle" hidden>
        <input type="text" id="uid" value="<%= uid %>" v-model="uid" hidden>

        <!-- Bootstrap Components - CARD -->
        <div class="row">
          <div class="col">
            <!-- caricare address blockchain Algorand -->
            <!-- se non esiste abilitare un bottone per a creazione dell'account con invio mail con la frase mnemonica -->
            <!-- se invece esiste visualizzare l'address della rete algorand -->
            <!-- se invece esiste visualizzare l'address e il link alle informazioni per gestire il proprio account Algorand -->
          </div>
          <div class="col">
            <!-- se esiste l'address Algorand visualizzare il saldo  -->
            <!-- se esiste l'address Algorand visualizzare anche il saldo punti (da sviluppare nella versione 2.0) -->
          </div>
        </div>

        <div class="row">
          <div class="col">
            <!-- se esiste l'address Algorand visualizzare tutte le transazioni -->
          </div>
        </div>

      </div>
    </main>

    <script src="https://apis.google.com/js/platform.js?onload=start" type="text/javascript" async defer></script>
    <% include include/scripts.ejs %>
    <script src="/js/home.js"></script>

</body>
</html>
