<!doctype html>
<html lang="en" class="h-100">
  <head>
    <% include include/head.ejs %>
    <link rel="stylesheet" href="/css/home.css">
    <% include include/firebase.ejs %>
  </head>
  <body class="d-flex flex-column h-100">
    
    <main role="main" class="flex-shrink-0">
      <div class="container" id="home">
        <% include include/home_nav.ejs %>
        <h1 class="mt-5 bold">
          <% include include/username.ejs %>
        </h1>
        <input type="text" id="clientGoogle" value="<%= client.google %>" v-model="clientGoogle" hidden>
        <input type="text" id="uid" value="<%= uid %>" v-model="uid" hidden>
        <input type="text" id="address" value="<%= address %>" v-model="wallet" hidden>

        <!-- ADDRESS ALGORAND -->
        <div class="row">
          
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Address</h5>

                <div class="alert alert-primary" role="alert" v-if="isAddress">
                  {{ wallet }}
                </div>
                
                <button type="button" :class="editAddress" data-toggle="modal" data-target="#modalAddress">
                  Edit Wallet <i class="fas fa-exclamation-triangle" v-if="wallet=='"></i>
                </button>

              </div>
            </div>
          </div>
          
          <!-- se esiste l'address Algorand visualizzare il saldo  -->
          <!-- se esiste l'address Algorand visualizzare anche il saldo punti (da sviluppare nella versione 2.0) -->
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          
        </div>

        <div class="row">
          <div class="col">
            <!-- se esiste l'address Algorand visualizzare tutte le transazioni -->
          </div>
        </div>

        <% include include/modal_address.ejs %>
      </div>
      
    </main>

    <script src="https://apis.google.com/js/platform.js?onload=start" type="text/javascript" async defer></script>
    <% include include/scripts.ejs %>
    
    <script src="/js/home.js"></script>

</body>
</html>
