<!doctype html>
<html lang="en" class="h-100">
  <head>
    <% include include/head.ejs %>
    <link rel="stylesheet" href="/css/home.css">
    
  </head>
  <body class="d-flex flex-column h-100">
    
    <main role="main" class="flex-shrink-0">
      <div class="container" id="app">

        <h1 class="mt-5">Sticky footer</h1>
        <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <p>Use <a href="../examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>

      </div>
      
    </main>

    <% include include/footer.ejs %>
    <% include include/scripts.ejs %>

</body>
</html>
