<!doctype html>
<html lang="en" class="h-100">
  <head>
    <% include include/head.ejs %>
    <link rel="stylesheet" href="css/dashboard-light.css">
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">

      <div class="container">

        <form method="POST" class="form-inline" action="/auth/profile">
            
            <div class="form-group mb-2">
                <label for="displayName" class="sr-only">Display name</label>
                <input type="text" class="form-control" id="displayName" placeholder="Display Name" name="displayname">
                <input type="hidden" class="form-control" value="<%= uid %>" name="uid">
            </div>

            <button class="btn btn-primary mb-2" type="submit" style="margin-left: 5px;">Update</button>

        </form>

      </div>
    </main>

    <% include include/footer.ejs %>
    
  </body>
</html>