<!doctype html>
<html lang="en" class="h-100">
  <head>
    <% include include/head.ejs %>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body class="d-flex flex-column h-100">
    
    <main role="main" class="flex-shrink-0" id="profile">

      <div class="container">
        <% include include/home_nav.ejs %>
        <h1 class="mt-5 bold">
          <% include include/username.ejs %>
        </h1>

        <!-- Update Profile Data -->
        <% if (update) { %>
          <div class="row">
              <div class="col">

                <form method="POST" class="form" action="/user/update">
          
                  <input type="hidden" class="form-control" value="<%= uid %>" v-model="uid" name="uid" id="uid">
        
                  <input type="text" :class="isValidDislayName" v-model="displayName" id="displayName" name="displayName" placeholder="Display Name" aria-label="display name" value="<%= user.displayName %>" autofocus>
                  <div :class="isValidFeedBackDislayName" id="validName">
                    {{ messageDisplayName }}
                  </div>
        
                  <input type="text" :class="isValidPhoneNumber" v-model="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" aria-label="phone number" value="<%= user.phoneNumber %>">
                  <div :class="isValidFeedBackPhoneNumber" id="validNumber">
                    {{ messagePhoneNumber }}
                  </div>
        
                  <button class="btn btn-primary mb-2" type="submit" style="margin-left: 5px;" id="btnUpdate" :click="update">Update</button>
        
              </form>

              </div>
          </div>
        <% } %>

        <hr />

        <!-- Delete User -->
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Delete User</h5>
                <p class="card-text">L'account verrà disabilitato per 15 giorni, durante i quali l'utente può continuare ad usare la piattaforma e decidere di annullare la richiesta.</p>
                <a href="#" class="btn btn-primary" :click="delete">DELETE</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <% include include/scripts.ejs %>
    <script src="/js/profile.js"></script>
</body>
</html>
