<!doctype html>
<html lang="en">
<head>
  <% include include/head.ejs %>

  <link rel="stylesheet" href="/css/signin.css">
  <link rel="stylesheet" href="/css/login.css">

</head>

<body class="text-center">

  <form class="form-signin" method="POST" action="/auth/signin">

    <% include include/title_sign.ejs %>

    <input type="text" id="clientGoogle" value="<%= client.google %>" hidden>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="eMail address to login" required autofocus>
    </div>

    <div class="form-floating mb-3">
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <a href="/forgotpassword" class="badge badge-light">
        <!-- testare il reset della password -->
        <small id="forgotpwd" class="form-text text-muted">Forgot password?</small>
      </a>
    </div>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= typeform %></button>
    
    <% include include/message_sign.ejs %>

    <% include include/error_sign.ejs %>
    
    <% include include/sign_social.ejs %>

    <% include include/footer_sign.ejs %>

  </form>

  <% include include/scripts.ejs %>
  
  <script>
    // ---------------------------------------------------------------------------
  // Info here: https://developers.google.com/identity/sign-in/web/build-button
  //            https://developers.google.com/identity/sign-in/web/backend-auth
  // ---------------------------------------------------------------------------

  let sendToken = (idtoken) => {

      axios.post('/google/', {
          idtoken: idtoken
      }).then(response => {
          console.log(response.data);
          location.href = '/user/dashboard/' + response.data;
      }).catch(error => {
          console.log(error);
      });

      };

      function onSuccess(googleUser) {

        var profile = googleUser.getBasicProfile();
        var idtoken = googleUser.getAuthResponse().id_token;

        console.log('Token: ' + idtoken);
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        sendToken(idtoken);
      };

      function onFailure(error) {
        console.log(error);
      }

      let renderButton = () => {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      };

      function start() {

      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: $('#clientGoogle').val(),
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
        
        renderButton();
      });

  };
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=start" type="text/javascript" async defer></script>
  
</body>
</html>

