<!doctype html>
<html lang="en">
<head>
  <% include include/head.ejs %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="<%= client.google %>">

  <link rel="stylesheet" href="/css/signin.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body class="text-center">

  <form class="form-signin" method="POST" action="/auth/signin">

    <% include include/title_sign.ejs %>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="eMail address to login" required autofocus>
    </div>

    <div class="form-floating mb-3">
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <a href="/forgotpassword" class="badge badge-light">
        <!-- testare il reset della password -->
        <small id="forgotpwd" class="form-text text-muted">Forgot password?</small>
      </a>
    </div>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= typeform %></button>
    
    <% include include/message_sign.ejs %>

    <% include include/error_sign.ejs %>
    
    <% include include/sign_social.ejs %>

    <% include include/footer_sign.ejs %>

  </form>

  <% include include/scripts.ejs %>
  
  <script>

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;

        console.log('Token: ' + id_token);
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

  </script>

</body>
</html>

