<hr />
<% if (typeform == 'Sign In') { %>
    or <a href="/signup" role="button" class="btn btn-outline-secondary">Sign Up</a>
<% } else if (typeform == 'Sign Up' || typeform == 'Reset Password') { %>
    or <a href="/signin" role="button" class="btn btn-outline-secondary">Sign In</a>
<% } %>

<p class="mt-5 mb-3 text-muted">&copy; <%= title %> @gzileni</p>