<footer class="footer mt-auto py-3">
    <div class="container">
            <div class="row">
                <div class="col-2">
                    <a href="https://dev.to/gzileni" target="_blank">
                        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Giuseppe Zileni's DEV Profile" height="30" width="30">
                    </a>
                </div>
                 <div class="col-10">
                    <a href="https://twitter.com/gzileni?ref_src=twsrc%5Etfw" 
                    class="twitter-follow-button" 
                    data-size="large" 
                    data-show-count="false"
                    target="_blank">
                        Follow @gzileni
                    </a>
                </div>
            </div>
    </div>
</footer>
