<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="blockJuice, the decentralized community">
<meta name="author" content="Giuseppe Zileni @gzileni giuseppe.zileni@gmail.com">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/fontawesome/all.css">
<link rel="stylesheet" href="/css/font-google.css">

<title><%= title %></title>