<hr />
<h5>Password must contain the following:</h5>
<ul style="list-style-type: none;" align="left">
    <li><span class="badge" id="alert_min">Minimum length 8</span></li>
    <li><span class="badge" id="alert_max">Maximum length 100</span></li>
    <li><span class="badge" id="alert_up">Must have uppercase letters</span></li>
    <li><span class="badge" id="alert_low">Must have lowercase letters</span></li>
    <li><span class="badge" id="alert_dig">Must have at least 2 digits</span></li>
    <li><span class="badge" id="alert_sim">Must have simbols</span></li>
    <li><span class="badge" id="alert_nospace">Should not have spaces</span></li>
</ul>