<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 bold">
        <% if (user.displayName) { %>
            <% if (user.photoURL) { %> 
                <img src="<%= user.photoURL %>" class="img-thumbnail" width="48px" height="48px"></img>
            <% } %> 
            <%= user.displayName %>
            <h5 class="h5 light"><%= user.email %></h5>
        <% } else { %>
            <%= user.email %>
        <% } %>
    </h1>
    
</div>