<hr />
<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <a role="button" class="btn btn-outline-light btn-lg" href="/google">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        </a>
    </div>
    <!--
    <div class="col-md-auto">
        <a role="button" class="btn btn-outline-light btn-lg" href="/auth/provider/github">
            <img src="/img/github_sign2.png" width="60px" height="60px"></img>   
        </a>
    </div>
    -->
</div>
